.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  background-color: $base-primary;
  color: $base-white;
}

.button:hover {
  background-color: $primary-lighter;
}

.button:active {
  background-color: $primary-darker;
}

.button:disabled {
  background-color: $base-gray;
}

.button-filter,
.button-clear {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
  width: 160px;
  height: 45px;
  padding: 0;
}

.button-clear {
  background-color: $base-white;
  color: $base-primary;
}

.button-order {
  height: 40px;
  padding: 0 24px;
}

.product-filter__country-buttons {
  text-align: center;
}

@media (max-width: $only-mobile-width) {
  .product-filter__country-buttons {
    margin-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .button-order {
    padding: 0 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .button-clear,
  .button-filter {
    margin-top: 9px;
    margin-bottom: 25px;
    margin-left: 6px;
    margin-right: 20px;
    width: 146px;
    height: 40px;
  }
}
