.product-filter__milk-description {
  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -35px;
    top: 0;
    background-color: $base-white;
    border: 2px solid $base-gray;
    border-radius: 50%;
  }
}

.control-radio + label::before,
.control-radio:checked + label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.control-radio:checked + label::before {
  border: 2px solid $base-primary;
}

.control-radio:hover + label::after {
  position: absolute;
  content: "";
  background-color: $primary-opacity;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 4px;
  left: -31px;
}

.control-radio:hover + label::before {
  border: 2px solid $base-primary;
}

.control-radio:checked + label::after {
  background-color: $base-primary;
  width: 16px;
  height: 16px;
  top: 4px;
  left: -31px;
}

.control-checkbox-name {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -21px;
    box-sizing: border-box;
    width: 43px;
    height: 24px;
    border-radius: 25%/50%;
    vertical-align: top;
    background: $base-gray;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -18px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $base-white;
    transition: 0.5s;
  }
}

.control-checkbox:checked + .control-checkbox-name::before {
  background-color: $base-primary;
}

.control-checkbox:checked + .control-checkbox-name::after {
  content: "";
  position: absolute;
  transform: translateX(18px);
}

.control-checkbox:hover + .control-checkbox-name::before {
  background-color: $primary-opacity;
  border: 2px solid $primary-lighter;
}

.control-checkbox:disabled + .control-checkbox-name::before {
  background-color: $light-gray;
}

.control-checkbox:disabled:checked + .control-checkbox-name::after {
  background-color: $base-gray;
}
