.footer__media-item {
  &:hover,
  &:focus {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}

.footer__media-list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .footer__media {
    padding-left: 10px;
  }
}
