.header {
  padding: 10px 0 10px 20px;
  min-height: 40px;
}

@media (max-width: $only-mobile-width) {
  .header-margin {
    margin-bottom: 230px;
  }

  .header {
    padding: 0 0 0 20px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    padding: 0 20px;
  }

  .header-logo {
    padding-right: 34px;
  }
}

@media (min-width: $desktop-width) {
  .header-logo {
    padding-left: 22px;
    padding-right: 0;
  }
}
