.main-slider {
  background-color: $flat-white;
}

.main-slider__slider-item--img {
  margin-right: auto;
  margin-left: auto;
}

.main-slider__slider-item--description {
  text-align: center;
}

.slider-title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  padding: 10px;
}

.main-slider__product-description {
  font-family: "Montserrat", "Arial", sans-serif;
  padding: 10px;
}

.slider-title {
  margin-bottom: 0;
}

.main-slider__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-slider__old-price {
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $base-primary;
  padding-right: 5px;
}

.main-slider__new-price {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  padding-right: 20px;
}

@media (max-width: $mobile-width) {
  .slider-title {
    font-size: 36px;
    line-height: 48px;
  }

  .main-slider__product-description {
    font-size: 14px;
    line-height: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0;
  }
}

@media (min-width: $mobile-width) {
  .slider-title {
    font-size: 56px;
    line-height: 80px;
  }
}
