.main-slider {
  background-color: $flat-white;
  margin-bottom: 28px;
}

.main-slider__item-img {
  margin-right: auto;
  margin-left: auto;
}

.main-slider__item-description {
  text-align: center;
}

.slider-title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  padding: 10px;
  margin-bottom: 0;
}

.main-slider__product-description {
  font-family: "Montserrat", "Arial", sans-serif;
  padding: 10px;
}

.main-slider__order-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  margin-top: 10px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main-slider__old-price {
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $base-primary;
  padding-right: 5px;
}

.main-slider__price {
  padding-right: 24px;
}

.only-tablet-and-desktop {
  display: none;
}

@media (max-width: $only-mobile-width) {
  .slider-title {
    font-size: 36px;
    line-height: 48px;
    padding: 0 10px;
  }

  .main-slider__product-description {
    font-size: 14px;
    line-height: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0;
  }

  .main-slider__item-wrapper {
    padding-top: 20px;
  }

  .main-slider__product-name {
    margin: 0;
  }

  .main-slider__new-product {
    margin-bottom: 5px;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-slider {
    background-color: $base-white;
    margin-bottom: 38px;
  }

  .main-slider__item-description {
    background-color: $flat-white;
    height: 640px;
  }

  .slider-title {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0.02em;
    padding: 4px 10px 7px 10px;
  }

  .main-slider__item {
    display: inline-grid;
  }

  .main-slider__item-wrapper {
    position: relative;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    height: 188px;
  }

  .main-slider__item-img {
    position: relative;
    z-index: 1;
    bottom: 288px;
    right: 0;
    left: 0;
    max-width: 476px;
  }

  .main-slider__new-product {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .main-slider__product-name {
    margin: 0;
  }

  .main-slider__product-description {
    margin: 0;
    padding: 10px 90px;
  }
}

@media (min-width: $tablet-width) {
  .only-tablet-and-desktop {
    display: block;
  }

  .advantages {
    margin-bottom: 4px;
  }
}

@media (min-width: $desktop-width) {
  .main-slider {
    height: 714px;
    margin-bottom: 78px;
  }

  .main-slider__item {
    display: flex;
  }

  .main-slider__product-name {
    font-size: 56px;
    line-height: 80px;
    margin: 0;
    letter-spacing: 0.02em;
  }

  .main-slider__order-price {
    text-align: left;
    justify-content: start;
    margin-top: 29px;
    margin-left: 11px;
    margin-right: 0;
  }

  .main-slider__item-description {
    text-align: left;
    width: 625px;
    margin-top: 181px;
    margin-left: 20px;
    margin-bottom: auto;
  }

  .main-slider__product-description {
    padding-right: 25px;
    margin-top: 10px;
  }

  .main-slider__item-img {
    margin-top: 30px;
    margin-left: 105px;
  }

  .main-slider__new-product {
    padding: 0 10px;
    margin: 0;
  }

  .slider-title {
    padding: 0 10px;
  }
}
