.main-menu__wrapper {
  display: flex;
  min-height: 40px;
  align-items: center;
}

.main-menu {
  position: relative;
}

.main-menu__list-user {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.main-menu__user-item {
  padding: 20px;

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:hover path,
  &:focus path {
    fill: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }
}

.main-menu__item-button {
  padding: 28px;
}

.main-menu__main-title {
  display: none;
}

@media (max-width: $only-mobile-width) {
  .main-menu__list-main {
    display: none;
    list-style: none;
  }

  .main-menu__item {
    padding: 20px;

    &:hover,
    &:focus {
      background-color: $base-secondary;
      color: $base-black;
    }
  }

  .main-menu__item-cart {
    padding-right: 6px;
  }

  .main-menu__item-login {
    padding-right: 4px;
  }
}

@media (min-width: $tablet-width) {
  .main-menu__link {
    padding: 31px 21px;

    &:hover,
    &:focus {
      color: $base-primary;
    }

    &:active {
      background-color: $base-secondary;
    }
  }

  .main-menu__item-button {
    display: none;
  }

  .main-menu__item {
    padding: 32px 0;
  }

  .main-menu__current-page {
    border-bottom: 2px solid $base-primary;
  }

  .main-menu__list-main,
  .main-menu__list-user {
    display: flex;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    flex-wrap: wrap;
  }

  .main-menu__list-main {
    list-style: none;
    margin: 0 auto;
  }

  .main-menu__login-text {
    display: none;
  }

  .main-menu__user-item {
    margin-right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__main-title {
    display: block;
    font-size: 12px;
    line-height: 16px;
    width: 126px;
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 75px;
  }

  .main-menu__login-text {
    display: block;
    margin-left: 8px;
  }

  .main-menu__item-login,
  .main-menu__item-cart {
    display: flex;
    align-items: center;
  }

  .main-menu__user-item {
    margin-right: 22px;
  }

  .main-menu__link {
    padding: 33px 31px;
  }
}
