.main-slider {
  background-color: $flat-white;
}

.main-slider__item-img {
  margin-right: auto;
  margin-left: auto;
}

.main-slider__item-description {
  text-align: center;
}

.slider-title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  padding: 10px;
  margin-bottom: 0;
}

.main-slider__product-description {
  font-family: "Montserrat", "Arial", sans-serif;
  padding: 10px;
}

.main-slider__order-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-slider__old-price {
  font-size: 16px;
  line-height: 32px;
  text-decoration: line-through;
  color: $base-primary;
  padding-right: 5px;
}

.main-slider__price {
  padding-right: 20px;
}

@media (max-width: $only-mobile-width) {
  .slider-title {
    font-size: 36px;
    line-height: 48px;
  }

  .main-slider__product-description {
    font-size: 14px;
    line-height: 20px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-slider {
    background-color: $base-white;
  }

  .main-slider__item-description {
    background-color: $flat-white;
    height: 640px;
  }

  .slider-title {
    font-size: 56px;
    line-height: 80px;
  }

  .main-slider__item {
    display: flex;
    flex-wrap: wrap;
  }

  .main-slider__item-wrapper {
    position: relative;
    order: 2;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    height: 188px;
  }

  .main-slider__item-img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -247px;
    max-width: 476px;
  }

  .main-slider__new-product {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .main-slider__product-name {
    margin: 0;
  }

  .main-slider__product-description {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-slider {
    max-height: 718px;
  }

  .main-slider__item {
    display: flex;
  }

  .main-slider__product-name {
    font-size: 56px;
    line-height: 80px;
    margin: 0;
  }

  .main-slider__order-price {
    text-align: left;
    justify-content: start;
  }

  .main-slider__item-description {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}
