.main-features__caption {
  text-align: center;
  padding: 10px;
}

.main-features__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.main-features__icon-img {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $only-mobile-width) {
  .main-features {
    padding-bottom: 15px;
    margin-bottom: 13px;
  }

  .advantages {
    margin-bottom: 6px;
  }

  .main-features__title {
    margin: 0;
  }

  .main-features__caption {
    margin-bottom: 24px;
  }

  .main-features__description-title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .main-features__description-subtitle {
    margin-top: 4px;
  }

  .main-features__item {
    margin-bottom: 32px;
  }

  .main-features__peppiness {
    padding: 0 25px;
  }
}

@media (min-width: $tablet-width) {
  .main-features {
    margin-bottom: 80px;
  }

  .main-features__list {
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 27px;
  }

  .main-features__item {
    display: flex;
    margin-bottom: 25px;
  }

  .main-features__description {
    width: 267px;
    text-align: start;
    padding: 0 24px;
  }

  .main-features__description-title {
    margin-bottom: 10px;
  }

  .main-features__description-subtitle {
    margin: 0;
  }

  .main-features__icon {
    margin-top: 25px;
    margin-left: 2px;
  }

  .main-features__title {
    margin-top: 0;
    margin-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .main-features {
    margin-bottom: 95px;
  }

  .main-features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main-features__item {
    display: block;
  }

  .main-features__description {
    text-align: center;
    width: 318px;
    padding: 0 14px;
  }

  .main-features__description-title {
    margin-top: 21px;
  }

  .main-features__icon {
    margin-right: 40px;
    margin-top: 43px;
    margin-left: 40px;
  }
}
