.main-menu__wrapper {
  display: flex;
  height: 40px;
  align-items: center;
}

.main-menu {
  position: relative;
}

.main-menu__list-user {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.main-menu__item,
.main-menu__user-item {
  padding: 20px;
}

@media (max-width: $mobile-width) {
  .main-menu__list-main {
    display: none;
  }
}

@media (min-width: $mobile-width) {
  .main-menu__item-button {
    display: none;
  }


  .main-menu__list-main,
  .main-menu__list-user {
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    display: flex;
  }

  .main-menu__list-main {
    margin-left: auto;
    margin-right: auto;
  }

  .main-menu__login-text {
    display: none;
  }
}
