.product-filter {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.price-title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-weight: 600;
  padding: 0;
}

.product-filter__milk,
.product-filter__country {
  border: none;
  padding: 0;
}

.product-filter__milk-item,
.product-filter__country-item {
  position: relative;
  margin-bottom: 21px;
}

.product-filter__country-item {
  padding-left: 32px;
}

.product-filter__country {
  margin-bottom: 10px;
}

.product-filter__milk-list {
  padding-left: 32px;
  margin-bottom: 24px;
}

.product-filter__country-list {
  list-style: none;
  padding-left: 20px;
}

.product-filter__price-title {
  margin-bottom: 5px;
}

@media (max-width: $only-mobile-width) {
  .product-filter__price {
    max-width: 280px;
  }

  .product-filter {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .product-filter {
    margin-bottom: 4px;
    display: flex;
    flex-wrap: wrap;
  }

  .product-filter__milk-item {
    padding-right: 10px;
  }

  .product-filter__price {
    max-width: 220px;
  }

  .product-filter__milk {
    width: 236px;
    margin-left: 12px;
    margin-right: 10px;
  }

  .product-filter__country-list {
    width: 197px;
  }

  .product-filter__country-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 24%;
  }

  .product-filter__price-title {
    margin-bottom: 5px;
  }

  .product-filter__milk-list {
    padding-left: 35px;
  }

  .product-filter__milk-item,
  .product-filter__country-item {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .product-filter {
    display: block;
    padding-right: 30px;
  }

  .button-filter,
  .button-clear {
    margin: 0;
    width: 150px;
    height: 40px;
    padding: 0;
  }

  .product-filter__country-buttons {
    display: flex;
    font-size: 14px;
    line-height: 24px;
    justify-content: space-between;
    margin: 0;
  }

  .product-filter__milk {
    margin-left: 0;
    margin-bottom: 5px;
  }

  .product-filter__price {
    max-width: 318px;
    margin-bottom: 28px;
  }

  .product-filter__country {
    margin-bottom: 20px;
  }
}
