.products__sorting-list {
  list-style: none;
  display: inline-block;
  border: none;
  border-radius: 4px;
  background: transparent;
  font-weight: 600;
  height: 45px;
  color: $base-primary;
  font-size: 16px;
  line-height: 24px;

  &:hover {
    background-color: $primary-opacity;
  }
}

.products__sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.products__sorting-item {
  background-color: $base-white;
}

.products__sorting-title {
  margin-right: 20px;
  font-size: 16px;
  line-height: 24px;
}

.products__list {
  list-style: none;
  padding: 0;
  margin-top: 9px;
  margin-bottom: 21px;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  background-color: $base-white;
  padding: 40px 20px 0 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.products__item-img {
  margin-right: auto;
  margin-left: auto;
}

.products__item-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.product-cart {
  display: inline-block;
  position: relative;
  left: -2px;
  top: 3px;
}

.products__item-title {
  margin-top: 23px;
  margin-bottom: 5px;
}

.products__item-description {
  margin-top: 0;
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .products__item:not(:nth-child(even)) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .products__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
}

@media (max-width: $only-mobile-width) {
  .products__item {
    width: 240px;
    height: 380px;
  }

  .products__sorting-title {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .products__list {
    font-size: 14px;
    margin-top: 13px;
    line-height: 20px;
    margin-bottom: 41px;
  }

  .products__item {
    height: 380px;
    width: 309px;
    padding: 50px 20px 10px;
    margin-bottom: 30px;
  }

  .products__item-description {
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .products__item-title {
    margin-top: 31px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .products__item-price-wrapper {
    padding: 0 10px;
  }
}

@media (min-width: $desktop-width) {
  .products__item {
    width: 277px;
    height: 400px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }

  .products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .products__sorting {
    width: 1011px;
  }

  .products__sorting-title {
    margin-bottom: 14px;
  }
}
