.product-filter {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.price-title {
  font-family: "Montserrat Bold", "Arial", sans-serif;
  font-weight: 600;
  padding: 0;
}

.product-filter__milk,
.product-filter__country {
  border: none;
  padding: 0;
}

.product-filter__milk-item,
.product-filter__country-item {
  position: relative;
  margin-bottom: 23px;
}

.product-filter__country-item {
  padding-left: 25px;
}

.product-filter__country {
  margin-bottom: 30px;
}
